.Rodape{
    background: var(--preto);
    padding: 30px;
    margin: 5em 0 0 0;
    width: vw;
}
.RodapeImage{
    max-width: 500px;
}
.Rodape div{
    
    width: 100%;
}
.Rodape nav{
    color: #fff;
    gap: 8px;
    width: 100%;
}

.RodapeLink{
    font-family: 'Alata';
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
    margin: 8px 0;
    padding: 8px;
    transition: .5s;
}



.rodapeRedes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.rodapeRedes div{
    width: 300px;
}
.rodapeRedes a {
    color: #fff;
    text-decoration: none;
    box-shadow: 0 3px 5px .2px #fff;
    border-radius: 10px;
    padding: 8px;
    transition: .5s;
}
.rodapeRedes a:hover{
    background: #fff;
    color: #000;
}