@mixin resetButton(){
    border: none;
    outline: none;
}
.seeAll-button{
    @include resetButton();
    border: solid 1px;
    background: #fff;
    font-family: 'Alata';
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 4px;
    width: 150px;
    height: 50px;
}
.seeAll-button:hover{
    background: #ebebeb;
}