body {
  overflow-x: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: graFyscale;
}

:root {
  --branco: hsl(0, 0%, 100%);
  --preto: hsl(0, 0%, 0%);
  --cinzaEscuro:  hsl(0, 0%, 55%);
  --cinzaMuitoEscuro:  hsl(0, 0%, 41%);
  --roxo:#992e8c;
}

/* - White: hsl(0, 0%, 100%)
- Black: hsl(0, 0%, 0%)
- Dark Gray: hsl(0, 0%, 55%)
- Very Dark Gray: hsl(0, 0%, 41%) */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
